{% extends 'layouts/main.twig' %}

{% block title %}
    Каталог товаров
{% endblock %}

{% block content %}

    <h1>Товары</h1>

    <div class='catalog'>
    {% for good in paginator.getItems() %}
        <div class='catalog_item'>
            <div>
               <a href="/good/one?id={{ good.id }}" class='catalog_name_link'>
                  {{ good.name }}
               </a>
            </div>
            {% if good.number_of_images > 0 %}
                <a href='/good/one?id={{ good.id }}'>
                    <img src='{{ imgPath }}/{{ good.img_folder }}/{{ good.main_img_name }}' class='small_img'>
                </a>
            {% endif %}
            <div class='catalog_price'>
                {{ good.price }}&#8381;
            </div>

            <div class="catalog_details">
               Фото {{ good.number_of_images }}, комментариев {{ good.number_of_comments }}
            </div>

            {% if cart.goods[good.id].count %}
                <a href="/cart/add?id={{ good.id }}" class="addtocart_link_catalog">Добавить в корзину ({{ cart.goods[good.id].count }})</a>
            {% else %}
                <a href="/cart/add?id={{ good.id }}" class="addtocart_link_catalog">Добавить в корзину (0)</a>
            {% endif %}


        </div>
    {% else %}
        Нет товаров
    {% endfor %}
    </div>

    {% if paginator.getUrls() | length > 1 %}
       <div class="paginator">
           {% for page, url in paginator.getUrls() %}
               {% if page == paginator.pageNumber %}
                  <a href="{{ url }}" class="page_link_active">{{ page }}</a>
               {% else %}
                  <a href="{{ url }}" class="page_link">{{ page }}</a>
               {% endif %}
           {% endfor %}
       </div>
    {% endif %}
{% endblock %}

